@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');
body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    margin: 2em;
    background: black;
    position: center;
}
h1 {
    padding: 1em 1.5em 1em 1.5em;
    font-weight: 600;
    position: center;
}
.description {
    font-style: italic;
    font-weight: 500;
}
.form-group {
    padding: .5em 1em .5em 1em;
}
.form-control {
    background-color: rgb(63, 13, 201);
    padding: .5rem 0.325rem;
    border-radius: 0.25rem;
    width: 25em;
    color: white;
    position: relative;
  }